* {
    box-sizing: border-box;
}

body {
    background-color: #374151;
}

.Poster {
    list-style: none;
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 14px;
    color: #FFFFFF;
}
.Blog a {
    text-decoration: none;
}

.Blog {
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 18px;
    color: #FFFFFF;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 18px;
    color: #FFFFFF;
}

form input {
    width: 224px;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(31, 41, 55, 0.6);
    color: #FFFFFF;
}

h1 {
    width: 525px;
    height: 76px;
    margin: 0 auto 30px;
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
}

.Develop {
    width: 214px;
    height: 53px;
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 30px auto 31px;
}

.Article {
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

footer {
    width: 226px;
    height: 28px;
    margin: 0 auto 77px;
    font-family: 'Roboto' monospace;
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}